header {
  background-color: map-get($map: $theme-colors, $key: "diva-pink");

  @include media-breakpoint-down(md) {
    background-color: white;
  }

  .container {
    .navbar {
      .collapse {
        .nav-primary {
          div {
            ul {
              .menu-item {
                a {
                  @include hover-focus-active {
                    color: map-get($map: $theme-colors, $key: "diva-pink");
                  }

                  @include media-breakpoint-down(md) {
                    @include hover-focus-active {
                      background-color: map-get($map: $theme-colors, $key: "diva-pink");
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .search-wrapper {
        .search-button {
          @include hover-focus-active {
            color: map-get($map: $theme-colors, $key: "diva-pink");
            background-color: white;
          }

          @include media-breakpoint-down(md) {
            @include hover-focus-active {
              background-color: map-get($map: $theme-colors, $key: "diva-pink");
              color: white;
            }
          }
        }
      }
    }
  }
}
