body.single-proposal {
  .wrap,
  footer {
    position: relative;
    top: 180px;

    @include media-breakpoint-down(md) {
      top: 140px;
    }
  }

  @import "header";
  @import "main-content";
  @import "related-posts";
}
