section[name="related-posts"] {
  padding: 40px 0;
  background-color: lighten($color: map-get($map: $theme-colors, $key: "diva-purple"), $amount: 20%);

  .related-posts {
    .related-post {
      display: block;
      text-decoration: none;
      color: $black;
      background-color: white;
      padding: 15px;
      box-shadow: 0 0 3px 0 rgba($color: #000, $alpha: 0.5);
      margin-bottom: 10px;

      @include hover-focus-active {
        transform: scale(1.1);
      }

      .title {
        margin-bottom: 1rem;
        font-size: 1.3rem;
      }

      .text {
        color: rgb(77, 77, 77);
        margin-bottom: 10px;
      }

      .see-more {
        outline: none;
        border: 2px solid map-get($map: $theme-colors, $key: "diva-purple");
        color: map-get($map: $theme-colors, $key: "diva-purple");
        padding: 10px;
        font-size: 0.9rem;
        width: 100%;
        text-transform: uppercase;
      }

      .categories {
        ul {
          padding-left: 0;

          li {
            margin-bottom: 10px;
            max-width: 100%;

            .category {
              padding: 8px;
              text-decoration: none;
              border: 2px solid map-get($map: $theme-colors, $key: "diva-purple");
              background-color: white;
              color: map-get($map: $theme-colors, $key: "diva-purple");
              text-overflow: ellipsis;
              overflow: hidden;

              @include hover-focus-active {
                color: white;
                background-color: map-get($map: $theme-colors, $key: "diva-purple");
              }
            }
          }
        }
      }
    }
  }
}
