section[name="collaborative-platform"] {
  padding: 50px 0;
  background-color: map-get($map: $theme-colors, $key: "diva-blue");

  .container {
    .title {
      color: white;
      text-transform: uppercase;
      font-size: 5rem;
      margin-bottom: 40px;

      @include media-breakpoint-down(xs) {
        font-size: 2.5rem;
      }
    }

    .form-wrapper {
      background-color: white;
      padding: 40px 40px 10px;
      box-shadow: 0 0 3px 0 rgba(#000, 0.3);

      @include media-breakpoint-down(xs) {
        padding: 40px 20px 10px;
      }

      .subtitle {
        text-align: center;
      }

      form {
        .wpcf7-response-output {
          color: white;
          text-align: center;
          border: none;
          padding: 15px;
          margin: 0 0 20px;
        }

        &.sent {
          .wpcf7-response-output {
            background-color: map-get($map: $theme-colors, $key: "diva-green");
          }
        }

        &.failed {
          .wpcf7-response-output {
            background-color: map-get($map: $theme-colors, $key: "diva-pink");
          }
        }

        p {
          margin-bottom: 0;

          label {
            width: 100%;
            margin-bottom: 0;

            input,
            textarea,
            select {
              background-color: #f5f7f8;
              border: 2px solid white;
              font-size: 1rem;
              color: gray;
              padding: 20px;
              width: 100%;

              @include hover-focus-active {
                outline: none;
              }
            }
          }

          input[type="submit"] {
            width: 100%;
            background-color: map-get($map: $theme-colors, $key: "diva-blue");
            color: white;
            text-transform: uppercase;
            padding: 10px 0;
            border: 2px solid map-get($map: $theme-colors, $key: "diva-blue");
            margin-bottom: 10px;

            @include hover-focus-active {
              color: map-get($map: $theme-colors, $key: "diva-blue");
              background-color: white;
            }
          }
        }
      }

      .legal-text {
        color: gray;
      }
    }
  }
}
