.social-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @import "./social-buttons";

  @include media-breakpoint-down(md) {
    display: none;
  }
}
