a {
  padding: 10px;
  font-size: 2rem;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #0000008a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 15px;
  background-color: white;
  cursor: pointer;

  i {
    color: white;
  }

  &.facebook {
    background-color: map-get($map: $theme-colors, $key: "facebook-blue");
  }

  &.whatsapp {
    background-color: map-get($map: $theme-colors, $key: "whatsapp-green");
  }

  &.twitter {
    background-color: map-get($map: $theme-colors, $key: "twitter-blue");
  }

  &.instagram {
    background-image:
      linear-gradient(
        to bottom,
        map-get($map: $theme-colors, $key: "instagram-purple") 0%,
        map-get($map: $theme-colors, $key: "instagram-pink") 36%,
        map-get($map: $theme-colors, $key: "instagram-yellow") 190%
      );
  }

  &.chip-in {
    background-color: map-get($map: $theme-colors, $key: "diva-pink");
    color: white;
    width: auto;
    height: auto;
    border-radius: 0;
    font-size: 1rem;

    i {
      margin-left: 10px;
      font-size: 2rem;
    }
  }

  @include hover-focus-active {
    background-color: white;

    &.facebook {
      i {
        color: map-get($map: $theme-colors, $key: "facebook-blue");
      }
    }

    &.whatsapp {
      i {
        color: map-get($map: $theme-colors, $key: "whatsapp-green");
      }
    }

    &.twitter {
      i {
        color: map-get($map: $theme-colors, $key: "twitter-blue");
      }
    }

    &.instagram {
      background-image: none;

      i {
        color: map-get($map: $theme-colors, $key: "instagram-purple");
      }
    }

    &.chip-in {
      color: map-get($map: $theme-colors, $key: "diva-pink");

      i {
        color: map-get($map: $theme-colors, $key: "diva-pink");
      }
    }
  }
}
