body.saiba-mais {
  @import "../../components/collaborative-platform";

  .collaborative-platform-wrapper {
    margin-bottom: 30px;
  }

  .wrap,
  footer {
    position: relative;
    top: 180px;

    @include media-breakpoint-down(md) {
      top: 140px;
    }
  }

  header {
    background-color: map-get($map: $theme-colors, $key: "diva-pink");

    @include media-breakpoint-down(md) {
      background-color: white;
    }

    .search-wrapper {
      .input-row {
        .search-input {
          background-color: map-get($map: $theme-colors, $key: "diva-pink");
          color: white;

          &::placeholder {
            color: white;
          }

          @include media-breakpoint-down(md) {
            background-color: white;
            color: map-get($map: $theme-colors, $key: "diva-pink");

            &::placeholder {
              color: map-get($map: $theme-colors, $key: "diva-pink");
            }
          }
        }
      }
    }
  }

  @import "related-posts";
}
