section[name="related-posts"] {
  background-color: white;
  padding: 40px 0;

  .not-found {
    color: gray;
  }

  .related-post {
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba($color: #000, $alpha: 0.5);
    margin-bottom: 30px;
    position: relative;

    .media-wrapper {
      video {
        width: 100%;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 15px;
      }
    }

    .text {
      margin-bottom: 15px;
      font-size: 1.3rem;
      color: gray;
    }

    .post-footer {
      flex-wrap: wrap;

      .post-type {
        font-size: 1.2rem;
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-left-radius: 10px;
        margin-bottom: 0;
        color: white;
        padding: 10px;
      }

      .post-link {
        cursor: pointer;
        padding: 10px;
        color: white;
        text-decoration: none;

        @include hover-focus-active {
          transform: scale(1.05);
        }

        @include media-breakpoint-down(xs) {
          padding: 10px;
          margin-bottom: 10px;
        }

        i {
          margin-right: 5px;
        }
      }

      time {
        color: gray;
        font-size: 0.8rem;
        align-self: flex-end;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.instagram {
      .post-link {
        background-image:
          linear-gradient(
            to bottom,
            map-get($map: $theme-colors, $key: "instagram-purple") 0%,
            map-get($map: $theme-colors, $key: "instagram-pink") 36%,
            map-get($map: $theme-colors, $key: "instagram-yellow") 190%
          );
      }
    }

    &.facebook {
      .post-link {
        background-color: map-get($map: $theme-colors, $key: "facebook-blue");
      }
    }

    &.internal {
      &.proposal {
        .post-link {
          background-color: map-get($map: $theme-colors, $key: "diva-purple");
        }

        .post-type {
          background-color: map-get($map: $theme-colors, $key: "diva-purple");
        }
      }

      &.already-done {
        .post-link {
          background-color: map-get($map: $theme-colors, $key: "diva-green");
        }

        .post-type {
          background-color: map-get($map: $theme-colors, $key: "diva-green");
        }
      }

      &.page {
        .post-link {
          background-color: map-get($map: $theme-colors, $key: "diva-pink");
        }

        .post-type {
          background-color: map-get($map: $theme-colors, $key: "diva-pink");
        }
      }
    }
  }
}
