body.template-downloads {
  @import "../../components/collaborative-platform";

  .wrap,
  footer {
    position: relative;
    top: 188px;

    @include media-breakpoint-down(sm) {
      top: 120px;
    }
  }

  @import "../../blocks/header-pink";

  section[name="main-content"] {
    padding: 50px 0;

    .title {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }

    .downloads {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        background-color: map-get($map: $theme-colors, $key: "diva-pink");
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: white;
        margin-bottom: 10px;
      }
    }
  }
}
