body.home {
  .wrap,
  footer {
    @include media-breakpoint-down(md) {
      position: relative;
      top: 100px;
    }
  }

  @import "./blocks/header";
  @import "./sections/banner";
  @import "./sections/pautas";
  @import "./sections/post-destaque";
  @import "./sections/conteudo-destaque";
  @import "./sections/depoimentos";
  @import "../../components/collaborative-platform";
}
