body.template-interno {
  @import "../../components/collaborative-platform";

  .wrap,
  footer {
    position: relative;
    top: 160px;

    @include media-breakpoint-down(sm) {
      top: 120px;
    }
  }

  @import "../../blocks/header-pink";

  section[name="main-content"] {
    padding: 60px 0;

    .text {
      font-size: 1.25rem;
      line-height: 1.8;

      @include media-breakpoint-down(xs) {
        font-size: 1rem;
      }
    }

    .title-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        margin-bottom: 40px;

        @include media-breakpoint-down(xs) {
          font-size: 2.2rem;
          margin-bottom: 25px;
        }
      }

      .categories {
        margin-bottom: 15px;
        padding-left: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
          margin-bottom: 20px;
          background-color: map-get($map: $theme-colors, $key: "diva-green");
          border: 2px solid map-get($map: $theme-colors, $key: "diva-green");
          padding: 12px;

          @include hover-focus-active {
            background-color: white;

            a {
              color: map-get($map: $theme-colors, $key: "diva-green");
            }
          }

          .category {
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    section[name="related-posts"] {
      padding: 50px 0;

      h3.title {
        margin-bottom: 20px;
      }

      .posts-list {
        padding: 30px;
        box-shadow: 0 0 3px 0 rgba(#000, 0.3);
        margin-bottom: 40px;
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;

        .title {
          text-align: center;
          text-transform: uppercase;
        }

        .related-post {
          box-shadow: 0 0 3px 0 rgba(#000, 0.3);
          background-color: white;
          text-decoration: none;
          margin-bottom: 20px;
          display: flex;
          padding: 20px 20px 70px;
          color: gray;
          position: relative;

          .tag {
            position: absolute;
            bottom: 0;
            right: 0;
            color: white;
            padding: 15px;
            border-top-left-radius: 15px;
          }

          @include hover-focus-active {
            .tag {
              transform: scale(1.2);
            }
          }
        }

        &.proposals {
          background-color: map-get($map: $theme-colors, $key: "diva-purple");

          .tag {
            background-color: map-get($map: $theme-colors, $key: "diva-purple");
          }
        }

        &.already-done {
          background-color: map-get($map: $theme-colors, $key: "diva-green");

          .tag {
            background-color: map-get($map: $theme-colors, $key: "diva-green");
          }
        }
      }

      .col-6 {
        margin-bottom: 20px;
      }
    }
  }
}
