body {
  .facebook-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    .fb-login-button {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .alert {
    padding: 15px;
    margin: 20px 0;

    &.success {
      border-radius: 5px;
      color: #155724;
      background-color: #d4edda;
      border: 1px solid #c3e6cb;
    }
  }

  .social-auth-button {
    padding: 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &:hover {
      transform: scale(1.1);
    }

    &.twitter {
      background-color: map-get($map: $theme-colors, $key: "twitter-blue");
    }

    &.facebook {
      background-color: map-get($map: $theme-colors, $key: "facebook-blue");
    }

    &.instagram {
      background-image:
        linear-gradient(
          to bottom,
          map-get($map: $theme-colors, $key: "instagram-purple") 10%,
          map-get($map: $theme-colors, $key: "instagram-pink") 50%,
          map-get($map: $theme-colors, $key: "instagram-yellow") 150%
        );
    }

    &:disabled {
      background-color: #9b9b9b;
      cursor: default;

      &:hover {
        transform: none;
      }
    }
  }

  .social-auth-buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }
}
