@import "../common/variables";
@import "./autoload";
@import "./socialMediasLoginButtons";

.wp-menu-name {
  white-space: break-spaces;
}

.social-posts-association {
  .cf-association__option {
    height: auto;

    .cf-association__option-thumb {
      width: 40px;
      height: 40px;
    }
  }
}
