footer {
  position: relative;
  padding: 40px 0;
  background-color: #f4f5f6;

  .contact {
    .title {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: map-get($map: $theme-colors, $key: "diva-pink");
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      > p {
        margin: 0;
        display: flex;
        flex-direction: column;
        max-width: 100%;

        &:last-of-type {
          width: 100%;
          align-items: center;
        }

        label {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          max-width: 100%;

          br {
            content: "";
          }

          .wpcf7-form-control-wrap {
            display: flex;
            max-width: 100%;
            flex-direction: column;
          }
        }
      }

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      input {
        background-color: #f5f6f7;
        border: 2px solid map-get($map: $theme-colors, $key: "diva-pink");
        color: map-get($map: $theme-colors, $key: "diva-pink");
        outline: none;
        padding: 15px;
        max-width: 100%;
        margin: 0 15px;

        &::placeholder {
          color: map-get($map: $theme-colors, $key: "diva-pink");
        }

        &[type="submit"] {
          background-color: map-get($map: $theme-colors, $key: "diva-yellow");
          padding: 15px 60px;
          border: 2px solid map-get($map: $theme-colors, $key: "diva-yellow");
          color: white;

          @include hover-focus-active {
            background-color: white;
            color: map-get($map: $theme-colors, $key: "diva-yellow");
          }
        }

        @include media-breakpoint-down(md) {
          margin: 0;
        }
      }
    }
  }
}
