header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 150px;
  transition: 0.1s;

  @include media-breakpoint-down(md) {
    background-color: white;
    box-shadow: 0 0 3px 0 #0000003b;
  }

  @include media-breakpoint-down(sm) {
    height: 120px;
  }

  .container {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;

    .nav-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      max-width: none;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex: 1;
      padding: 0;
      width: 100%;

      .nav-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 100%;

        @include media-breakpoint-down(md) {
          flex: 1;
          height: 80px;
        }

        .brand {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 15px;

          @include media-breakpoint-down(md) {
            max-height: 60px;
            padding: 10px;
          }

          picture {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-height: 110px;
              padding: 15px;

              @include media-breakpoint-down(md) {
                max-height: 80px;
                padding: 10px;
              }

              @include media-breakpoint-down(xs) {
                padding: 0;
                margin-right: 20px;
              }
            }
          }

          &:hover {
            transform: scale(1.1);
          }
        }

        .navbar-toggler {
          border: 2px solid map-get($map: $theme-colors, $key: "diva-pink");
          align-self: center;
          outline: none;
          border-radius: 0;

          @include hover-focus-active {
            background-color: map-get($map: $theme-colors, $key: "diva-pink");

            i {
              color: white;
            }
          }

          .navbar-toggler-icon {
            color: map-get($map: $theme-colors, $key: "diva-pink");
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .navbar-collapse {
        align-items: stretch;

        @include media-breakpoint-down(md) {
          background-color: white;
        }
      }
    }
  }

  .search-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    align-items: stretch;
    background-color: white;

    @include media-breakpoint-down(md) {
      justify-content: center;
      background-color: white;
    }

    .search-result {
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      display: none;
      justify-content: center;
      width: 100%;
      background-color: white;
      box-shadow: 0 2px 10px 0 rgba($color: #000, $alpha: 0.2);
      text-align: center;
      color: gray;

      .not-found {
        padding: 15px;
      }

      .know-more {
        display: flex;
        justify-content: center;

        .link {
          color: map-get($map: $theme-colors, $key: "diva-pink");
          text-decoration: none;
          padding: 15px 10px;
          flex: 1;

          @include media-breakpoint-up(md) {
            font-size: 1.5rem;
            text-transform: uppercase;
          }

          @include hover-focus-active {
            color: white;
            background-color: map-get($map: $theme-colors, $key: "diva-pink");
          }
        }
      }

      span.label {
        margin: 15px 0;
        display: inline-block;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      .posts-wrapper {
        padding: 15px 15px 0;
      }

      .post {
        text-decoration: none;
        color: $black;
        display: flex;
        margin-bottom: 10px;
        cursor: pointer;

        &:nth-child(5) {
          margin-bottom: 0;
        }

        &:nth-child(n + 6) {
          display: none;
        }

        @include media-breakpoint-down(lg) {
          &:nth-child(n + 9) {
            display: none;
          }
        }

        .social-icon-wrapper {
          .social-icon {
            margin-left: 10px;
            padding: 15px;
            height: 10px;
            width: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;

            &.facebook {
              background-color:
                map-get(
                  $map: $theme-colors,
                  $key: "facebook-blue"
                );
            }

            &.instagram {
              background-image:
                linear-gradient(
                  to bottom,
                  map-get($map: $theme-colors, $key: "instagram-purple") 0%,
                  map-get($map: $theme-colors, $key: "instagram-pink") 36%,
                  map-get($map: $theme-colors, $key: "instagram-yellow") 190%
                );
            }
          }
        }

        &.internal-post {
          .social-icon {
            background-color: map-get($map: $theme-colors, $key: "diva-pink");
            font-size: 0.8rem;
          }

          &.proposal {
            .social-icon-wrapper .social-icon {
              background-color: map-get($map: $theme-colors, $key: "diva-purple");
            }
          }

          &.already-done {
            .social-icon-wrapper .social-icon {
              background-color: map-get($map: $theme-colors, $key: "diva-green");
            }
          }
        }

        .img-wrapper {
          flex: 0.05;

          @include media-breakpoint-down(md) {
            flex: 0.2;
          }

          .fa-image {
            font-size: 2rem;
          }
        }

        @include hover-focus-active {
          color: map-get($map: $theme-colors, $key: "diva-pink");

          h3 {
            transform: scale(1.1);
          }

          img {
            transform: scale(1.1);
          }

          .social-icon {
            transform: scale(1.05);
          }
        }

        h3 {
          flex: 1;
          font-size: 1rem;
          margin-left: 1rem;
        }
      }
    }

    .input-row {
      display: flex;
      position: relative;
      width: 100%;

      .close-wrapper {
        position: absolute;
        top: 0;
        right: 8px;
        display: none;
        z-index: 15;

        @include hover-focus-active {
          transform: scale(1.2);
        }

        @include media-breakpoint-up (lg) {
          right: 12px;
          bottom: -40px;
          top: unset;
        }

        .close-button {
          padding: 10px;
          color: map-get($map: $theme-colors, $key: "diva-pink");

          .fas {
            font-size: 1.4rem;
          }
        }
      }

      .whatsapp {
        padding: 10px 20px;
        font-size: 2em;
        color: white;
        background-color: map-get($map: $theme-colors, $key: "whatsapp-green");
        border-top-right-radius: 25px;
      }

      .search-input {
        flex: 1;
        background-color: transparent;
        border: 0;
        color: map-get($map: $theme-colors, $key: "diva-pink");
        padding: 15px;
        font-size: 2rem;
        width: 100%;
        text-align: center;

        @include media-breakpoint-down(md) {
          color: map-get($map: $theme-colors, $key: "diva-pink");
        }

        @include media-breakpoint-down(xs) {
          font-size: 1.1rem;
        }

        &::placeholder {
          color: map-get($map: $theme-colors, $key: "diva-pink");

          @include media-breakpoint-down(md) {
            color: map-get($map: $theme-colors, $key: "diva-pink");
          }
        }

        @include hover-focus-active {
          border: 0;
          outline: 0;
        }

        @include media-breakpoint-down(md) {
          padding: 0 15px;
        }
      }
    }
  }

  .nav-primary {
    display: flex;
    flex: 2;

    @include media-breakpoint-down(md) {
      &.searching {
        display: none;
      }
    }

    & > div {
      display: flex;
      flex: 1;

      ul {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        padding-left: 0;
        margin-bottom: 0;

        @include media-breakpoint-down(md) {
          flex-direction: column;
        }

        li {
          flex: 1;
          display: flex;

          .nav-link,
          .dropdown-toggle {
            font-size: 1.8rem;
          }

          .dropdown-toggle {
            &::after {
              margin-left: 1.2rem;
            }

            @include hover-focus-active {
              background-color: white;
              color: map-get($map: $theme-colors, $key: "diva-pink");
            }
          }

          .dropdown-menu {
            width: 100%;
            padding: 0;
            margin: 0;
            border-radius: 0;
            overflow-y: scroll;
            height: calc(64px * 7);

            /* width */
            &::-webkit-scrollbar {
              width: 10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
              background: white;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: map-get($map: $theme-colors, $key: "diva-pink");
            }

            .dropdown-item {
              color: map-get($map: $theme-colors, $key: "diva-pink");
              padding: 20px 10px;

              @include media-breakpoint-down(xl) {
                font-size: 1rem;
              }
            }
          }

          a {
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.3rem;
            padding: 10px;
            flex: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-breakpoint-down(md) {
              color: map-get($map: $theme-colors, $key: "diva-pink");
            }

            &:hover {
              background-color: white;
              color: map-get($map: $theme-colors, $key: "diva-pink");

              &.dropdown-item {
                color: white;
                background-color: map-get($map: $theme-colors, $key: "diva-pink");
              }
            }
          }
        }
      }
    }
  }

  &.invert {
    background-color: white;

    .nav-primary {
      .menu-item *,
      .nav-link,
      .dropdown-toggle {
        color: map-get($map: $theme-colors, $key: "diva-pink");

        &:hover {
          background-color:
            map-get(
              $map: $theme-colors,
              $key: "diva-pink"
            );
          color: white;
        }
      }
    }

    .search-wrapper {
      .input-row {
        .search-input {
          background-color: transparent;
          color: map-get($map: $theme-colors, $key: "diva-pink");

          &::placeholder {
            color: map-get($map: $theme-colors, $key: "diva-pink");
          }
        }
      }
    }
  }
}
