header {
  background-color: map-get($map: $theme-colors, $key: "diva-pink");

  @include media-breakpoint-down(md) {
    background-color: white;
  }

  .search-wrapper {
    background-color: map-get($map: $theme-colors, $key: "diva-pink");

    @include media-breakpoint-down(md) {
      background-color: white;
    }

    .input-row .search-input {
      color: white;

      @include media-breakpoint-down(md) {
        color: map-get($map: $theme-colors, $key: "diva-pink");
      }

      &::placeholder {
        color: white;

        @include media-breakpoint-down(md) {
          color: map-get($map: $theme-colors, $key: "diva-pink");
        }
      }
    }
  }
}
