section[name="banner"] {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  @include media-breakpoint-down(md) {
    background-image: none !important;
    height: calc(100vh - 80px);
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      align-items: center;
    }

    .title {
      position: absolute;
      top: 0;
      font-size: 7rem;
      letter-spacing: 1rem;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        margin: auto 1rem;
        font-size: 2.5rem;
        letter-spacing: 5px;
        margin-bottom: 1.5rem;
      }
    }

    .content-wrapper {
      position: absolute;
      bottom: 0;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        position: static;
        margin-top: 18vh;
      }

      .description-row {
        margin-bottom: 20px;
        width: calc(100% - 1rem);

        .description-wrapper {
          padding: 30px;
          width: 50%;
          margin: auto 0;

          @include media-breakpoint-down(md) {
            padding: 15px;
            width: auto;
          }

          h2 {
            font-size: 1.3rem;
            line-height: 1.5;

            @include media-breakpoint-down(md) {
              font-size: 0.8rem;
            }
          }

          img {
            @include media-breakpoint-down(md) {
              height: 30vh;
              display: block;
              margin: 0 auto 20px;
            }
          }
        }
      }
    }
  }
}
