section[name="conteudo-destaque"] {
  position: relative;
  height: 110vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 0;
  background-color: #f5f6f7;

  @include media-breakpoint-down(md) {
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;

    .content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-top: 10px;
      }

      .text {
        font-size: 1.3rem;
        margin-top: 5rem;
        z-index: 5;

        @include media-breakpoint-down(md) {
          font-size: 1rem;
          margin-top: 2rem;
          margin-bottom: 1.5rem;
        }
      }

      a {
        font-size: 12px;
        text-align: center;
        padding: 20px;
        width: 200px;
        background-color: map-get($map: $theme-colors, $key: "diva-yellow");
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include media-breakpoint-down(md) {
          margin: 20px auto;
        }
      }
    }

    .media-warpper {
      flex: 1;
      display: flex;
      justify-content: center;

      img {
        height: 50vh;

        @include media-breakpoint-down(md) {
          height: 30vh;
          width: auto;
        }
      }

      iframe {
        height: 50vh;

        @include media-breakpoint-down(md) {
          height: 30vh;
          width: auto;
          max-width: 100%;
        }
      }
    }
  }
}
