section[name="depoimentos"] {
  position: relative;
  height: 110vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include media-breakpoint-down(md) {
    height: auto;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .depoimentos {
      padding: 30px;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      margin: auto;
      width: 100%;
      align-items: flex-start;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        height: auto;
        width: 100%;
      }

      .depoimento {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        img {
          margin: auto 5px;
        }
      }
    }

    .title {
      font-size: 5rem;
      margin-top: 2rem;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      z-index: 5;

      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
        letter-spacing: 5px;
        margin-bottom: 1.5rem;
      }
    }
  }
}
