section[name="pautas"] {
  position: relative;
  height: 110vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include media-breakpoint-down(md) {
    height: auto;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .pautas {
      padding: 30px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 450px;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      width: 70vw;
      align-items: flex-start;

      @include media-breakpoint-down(md) {
        height: auto;
        width: 100%;
      }

      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: map-get($map: $theme-colors, $key: "diva-pink");
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: map-get($map: $theme-colors, $key: "diva-purple");
      }

      a {
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
        margin-left: 20px;
        padding: 20px;
        width: 200px;
        background-color: map-get($map: $theme-colors, $key: "diva-purple");
        border-radius: 5px;
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include media-breakpoint-down(md) {
          margin: auto;
          margin-top: 20px;
        }
      }
    }

    .title {
      font-size: 5rem;
      margin-top: 2rem;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      z-index: 5;

      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
        letter-spacing: 5px;
        margin-bottom: 1.5rem;
      }
    }
  }
}
