section[name="post-destaque"] {
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 0;

  @include media-breakpoint-down(md) {
    height: auto;
  }

  #multi-item-example {
    margin: auto;

    .carousel-inner {
      background-color: map-get($map: $theme-colors, $key: "diva-pink");
      border-radius: 5px;
      padding: 20px;

      img,
      object {
        margin: auto;
        height: 30vh;
        object-fit: contain;
        object-position: center;
        max-width: 100%;

        @include media-breakpoint-down(md) {
          height: 20vh;
        }
      }

      p {
        margin-top: 10px;
        margin-bottom: 0;
        color: white;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.3rem;
      }

      .bloco-i {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        margin: 10px auto 0;
        background-color: white;
        box-shadow: 0 0 3px 0 rgba($color: #000, $alpha: 0.3);

        i {
          display: inline-block;

          &.fa-instagram {
            color: map-get($map: $theme-colors, $key: "instagram-purple");
          }

          &.fa-facebook-f {
            color: map-get($map: $theme-colors, $key: "facebook-blue");
          }

          &.fa-twitter {
            color: map-get($map: $theme-colors, $key: "twitter-blue");
          }
        }
      }
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      align-items: center;
    }

    .title {
      font-size: 5rem;
      letter-spacing: 0.4rem;
      margin-bottom: 20px;
      text-transform: uppercase;
      z-index: 5;

      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
        letter-spacing: 5px;
        margin-bottom: 1.5rem;
      }
    }

    .social-row {
      display: none;

      @include media-breakpoint-down(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      a {
        margin-right: 10px;

        &.whatsapp {
          display: none;
        }
      }

      @import "../../../components/social-buttons";
    }
  }
}
