section[name="main-content"] {
  padding: 40px 0;
  background-color: map-get($map: $theme-colors, $key: "diva-green");

  .text {
    color: white;
    font-size: 1.1rem;
  }

  .title-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      color: white;
      margin-bottom: 25px;
      font-size: 6rem;

      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
      }
    }

    h2 {
      font-size: 1.9rem;
      color: white;
      margin-bottom: 2rem;
      text-decoration: underline white;

      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }
    }

    .categories {
      margin-bottom: 15px;
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      li {
        margin-bottom: 20px;

        @include media-breakpoint-down(md) {
          width: 100%;
        }

        .category {
          @include media-breakpoint-down(md) {
            display: inline-block;
            width: 100%;
          }

          padding: 8px;
          text-decoration: none;
          border: 2px solid white;
          background-color: white;
          color: map-get($map: $theme-colors, $key: "diva-green");

          @include hover-focus-active {
            color: white;
            background-color: map-get($map: $theme-colors, $key: "diva-green");
          }
        }
      }
    }
  }

  section[name="related-posts"] {
    padding: 50px 0;

    h3.title {
      margin-bottom: 20px;
    }

    .related-post {
      color: $black;
      text-decoration: none;
      height: 100%;

      .title {
        font-size: 0.9rem;
        padding-left: 10px;
      }

      @include hover-focus-active {
        transform: scale(1.1);
      }
    }
  }
}
