@font-face {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Bahnschrift.woff") format("woff");
}

body {
  font-family: "Bahnschrift", sans-serif;
}
