.stand-by {
  height: 100vh;
  width: 70%;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  align-items: center;

  h1 {
    color: white;

    @include media-breakpoint-down(md) {
      font-size: 2em;
    }
  }
}
