/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  facebook-blue: #1877f2,
  instagram-purple: #8147bb,
  instagram-yellow: #fcd16a,
  instagram-turquoise: #505fd5,
  instagram-pink: #c52f93,
  twitter-blue: #1da1f2,
  whatsapp-green: #71d568,
  diva-pink: #f04,
  diva-blue: #2cb6e7,
  diva-green: #5ad38e,
  diva-yellow: #ffca00,
  diva-salmon: #fa6666,
  diva-purple: #8a00b8,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
